.introduce__section {
    display: flex;
    padding: 5% 1.5rem;
}

.introduce_text__block .image__block {
    display: none;
}

.introduce_text__block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.introduce_text__block p {
    font-size: 1.2rem;
}

.image__block {
    max-width: 100%;
}

.get_email__block {
    display: flex;
    width: 50%;
}

.get_email__input {
    padding: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #ececec;
}

.get_email__input {
    flex: 1;
}

.introduce__section .get_app__btn {
    padding: 1rem;
    background-color: #000;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: #fff;
    text-transform: uppercase;
}

.get_app__btn:hover {
    cursor: pointer;
}

.introduce__special_offer {
    width: 40%;
    padding-left: 25%;
}

.introduce_carousel__block {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 50%;
}

.carousel__element {
    height: 2px;
    width: 33%;
    background-color: #000;
}
.carousel__element.active {
    background-color: #ffad8b;
}

.introduce__notice {
    margin-top: 10%;
    font-size: 0.8rem;
}
@media screen and (max-width: 990px) {
    .introduce__section {
        flex-direction: column;
    }

    .introduce_text__block .image__block {
        display: inline-block;
    }

    .introduce_text__block .image__block img {
        width: 100%;
    }

    .image__block {
        display: none;
    }

    .introduce__section h1 {
        text-align: center;
    }

    .get_email__block {
        width: 100%;
    }

    .introduce__special_offer {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .introduce_carousel__block {
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .introduce__section h1 {
        font-size: 3rem;
    }
}