.outro__section {
    padding: 10%;
    background-color: var(--bgColorCardFirst);
    display: flex;
    justify-content: space-between;
}

.outro__text {
    font-size: 4rem;
    width: 40%;
}

@media screen and (max-width: 900px) {
    .outro__text {
        font-size: 3rem;
        margin: auto 0;
    }
}

@media screen and (max-width: 500px) {
    .outro__text {
        font-size: 2rem;
    }
}

.outro__section img {
    width: 40%;
    height: 40%;
}

