.outro__section {
    padding: 5%;
    background-color: var(--bgColorCardFirst);
    display: flex;
    gap: 5%;

    @media (max-width: 918px) {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }

    img {
        max-width: 50%;
        max-height: 50%;
    }

    .outro__text {
        font-size: 4rem;

        @media (max-width: 768px) {
            font-size: 3rem;
            margin: auto 0;
        }

        @media (max-width: 425px) {
            font-size: 2rem;
        }
    }
}