.product__section {
    display: flex;
    flex-direction: column;
    gap: 15rem;

    padding: 10%;
}

.choose_product h2 {
    margin: 2rem 0 4rem 0;
}

.choose_product {
    text-align: center;
}

.choose_product .card__container {
    display: flex;
    gap: 10%;
    align-items: flex-start;
    justify-content: center;
}

.choose_product img {
    position: relative;
    top: 6rem;
    max-width: 100%;
}

.choose_product .cards__block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.choose_product .header_card {
    font-size: 3rem;
}

.choose_product .card__content {
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
}

.card__list li {
    font-size: 1.25rem;
    list-style: none;
    background: url("../../../../assets/img/icons/list_marker.svg")
    no-repeat 0 50%;

    padding-left: 15%;
    line-height: 200%;
}

.card__subtext {
    display: block;
    font-size: 0.8rem;
}

.read_more__btn {
    padding: 1rem;

    cursor: pointer;
    
    background-color: #000;
    color: #fff;
    
    border-radius: 2rem;
    width: 10rem;
}

.card__tag {
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;

    padding: 1rem;
    border-radius: 2rem;

    width: 10rem;
}

@media screen and (max-width: 975px) {
    .card__list li {
        padding-left: 20%;
    }
}

@media screen and (max-width: 1000px) {
    .card__container {
        flex-direction: column-reverse;
    }
    .card__container img {
        position: static;
        margin: 0 auto;
    }
    .read_more__btn {
        margin: 0 auto 1rem auto;
    }
}