.product__section {
    display: flex;
    flex-direction: column;
    padding: 10%;
}
.product__section h2 {
    font-size: 3rem;
}

.product__section h3 {
    margin: 0;
}

.choose_product {
    text-align: center;
}

.choose_product .card__container {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.choose_product img {
    position: relative;
    top: 25%;
}

.choose_product .cards__block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.choose_product .header_card {
    font-size: 3rem;
}
.choose_product .card__content {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.choose_product .card__content li {
    font-size: 1.25rem;
}
.card__list li {
    list-style: none;
}
.card__list li::before {
    content: '';
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background: url("../../../../assets/img/icons/list_marker.svg")
    no-repeat 10% 150%;
    background-size: 2rem;
}