.second_block__section {
    width: 100vw;

    color: #fff;
    background-color: #000;

    padding: 6rem 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}