.header_message__block {
    text-align: center;
    padding: 1rem 0;
    margin: 0;

    background-color: var(--bgColorHeaderMessage);
    /*background-color: #c1cbe7;*/
}

@media screen and (max-width: 400px) {
    .header_message__block p{
        font-size: 0.8rem;
    }
}