.header_message__block {
    text-align: center;
    padding: 1rem 0;
    margin: 0;

    background-color: var(--bgColorHeaderMessage);

    p {
        @media (max-width: 400px) {
           font-size: 0.8rem;
        }
    }
}