.navbar__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    transition: all 1s ease-in;
}

.navbar__list {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

.navbar__element a {
    text-decoration: none;
    /*color: black;*/
}

.navbar__element a:hover {
    font-weight: 600;
}

@media screen and (max-width: 370px) {
    .navbar__element a {
        font-size: 0.8rem;
    }
    .navbar__list {
        flex-direction: column;
        align-items: center;
    }
}