.navbar__container {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;

    transition: all 1s ease-in;
}
.navbar__list {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}
.navbar__element {
    display: inline-block;
}

.navbar__element a {
    text-decoration: none;
    color: black;
}

.navbar__element a:hover {
    font-weight: 600;
}