.feedback__card {
    background-color: #fff;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    color: #000;
}

.feedback__store img {
    width: 100%;
    height: 2rem;
}

.feedback__stars {
    text-align: left;
}

.feedback_scores__container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.feedback__score {
    font-size: 2rem;
}

.feedback__reviews {
    font-size: 0.75rem;
    color: gray;
}
