.content__container {
    padding: 5rem 1.5rem 0 1.5rem;
}
.introduce__section {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.introduce_text__block {
    max-width: 80%;
}

.introduce_text__block p {
    font-size: 1.2rem;
}

.introduce_text__block h1 {
    font-size: 5rem;
    margin: 0;
}

.introduce_image__block {
    max-width: 100%;
}



@media screen and (max-width: 990px) {
    .introduce__section {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr;
    }
}