[data-theme='light'] {
  --bgColorFirst: #fff;
  --fontColor: #000;

  --bgColorHeaderMessage: #c1cbe7;
  --bgColorCardFirst: #fcd0ba;
  --bgColorCardSecond: #ccd3e7;
  --bgColorCardCarousel: #efefef;
}

[data-theme='dark'] {
  --bgColorFirst: #333333;
  --fontColor: #fff;

  --bgColorHeaderMessage: #3458b7;
  --bgColorCardFirst: #a1664c;
  --bgColorCardSecond: #7e98da;
  --bgColorCardCarousel: #6b6b6b;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  color: var(--fontColor);
  background-color: var(--bgColorFirst);

  transition: background-color .5s ease;
}

a, span, blockquote {
  color: var(--fontColor);
}

* {
  box-sizing: border-box;

  font-size: 1rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

img {
  max-width: 100%;
}